@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto:300,400&display=swap');
/* ul#list_programming li {
  display:inline;
} */

/* body{
  background-color: black;
} */

/* .image-container{text-align:center} */
@font-face {
  font-family: Neon;
  src: url(neon.ttf);
}
body{
  background-color: #051818;
}
a:hover{
  text-decoration: none;
}

header{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Neon ;
}

.signature{
  /* color: #384147; */
  color:#83c5be;
  text-align: center;
  user-select: none;
}
.signature-heading{
  font-size: 50px;
  font-family: Neon ;
  margin-bottom: 30px;
}
.signature-subhead{
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.navbar{
  /* background-color: #384147; */
  /* background-color: #543864; */
  background-color: #97BC62FF;
}

.navbar-toggler i{
  color: white;
  font-size: 30px;
}

.navbar-toggler .fa-times{
  display: none;
}

.navbar-toggler.menu-open .fa-bars{
  display: none;
}
.navbar-toggler.menu-open .fa-times {
  display: none;
}

.navbar-nav{
  padding: 20px;
}
.nav-link{
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: opacity .5s;
}
.nav-link:hover{
  color: white;
}

.about-content{
  display: flex;
  flex-direction: column;
}
.about-description{
  width: 100%;
  /* background-color: white; */
  background-color: #051818;
  padding: 40px;
  /* outline: 5px solid rgba(56,65,71,0.5); */
  outline: 5px solid rgb(255,189,105);
  outline-offset: -5px;
  order: 2;
  margin-top: 5px;
}
.item-row{
  
  width: 100%;
  /* background-color: white; */
  background-color: #051818;
  padding-top: 40px;
  /* outline: 5px solid rgba(56,65,71,0.5); */
  /* outline: 5px solid rgb(255,189,105); */
  border-top: 2px solid rgb(255,189,105);
  outline-offset: -5px;
  order: 2;
  margin-top: 5px;
}
.about-image{
  order: 1;
}
.about-image img{
  width: 100%;
  height: auto;
  display: block;
}

.section-heading{
  position: relative;
  display:block;
  margin-bottom: 20px;
  font-family: 'Playfair Display SC', sans-serif;
}


.section-description{
  color:rgb(255,189,105);
  font-size: large;
}

.heading-title{
  text-transform: uppercase;
  /* color: #384147; */
  color: rgb(255,189,105);
  font-size: 30px;
}

.lightbox-content{
  position: relative;
  overflow: hidden;
  font-family: 'Playfair Display SC',sans-serif;
}
.lightbox-content img{
  transition:transform 2s;
}
.lightbox-content:hover img{
  transform: scale(1.2);
}

.lightbox-content a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 100;
  transition: background-color .5s;
}
.lightbox-content a:hover::before{
  background-color: rgba(0, 0, 0, 0.7);
}
.lightbox-content a::after{
  font-family: 'Font Awesome 5 Free';
  content: "\f00e";
  font-weight: 600;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
  font-size: 25px;
  z-index: 101;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .5s;
}

.lightbox-content a:hover::after{
  opacity: .5;
}


.ghost-button {
  color: #97BC62FF;
  background: transparent;
  border: 1px solid #97BC62FF;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
}
.ghost-button:hover, .ghost-button:active {
  color:#051818;
  background:#97BC62FF;
 }

@media screen and (min-width :768px){
  .navbar{
    background-color: transparent;
  }
   .navbar-nav{
    padding: 0;
  }
  .nav-link{
    /* color: #384147; */
    color: #97BC62FF;
  }
  .nav-link:hover{
    color:#83c5be;
  }
  nav:hover .nav-link:not(:hover){
    opacity: 0.5;
  }
  .about-content{
    position: relative;
    display: block;
  } 
  .about-description{
    position: absolute;
    top:80%;
    transform: translateY(-25%);
    width: 60%;
    outline-offset:-10px;
  }
  .about-image{
    width: 70%;
    margin-left: auto;
  }
}
@media screen and (min-width :1200px){
  .about-description{
    top:50%;
    width: 50%;
  }
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 } 
 /* .carousel-control-prev-icon,
.carousel-control-next-icon {
 filter: invert(50%);
} */

